<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Выбор Блюда</title>
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <dix class="box1">
                {% for dish in dishes %}
                <div class="card">
                    <h1>{{dish.title}}</h1>
                    <h1>Описание: {{dish.description}}</h1>
                    <h1>Цена: {{dish.price}} рублей</h1>
                    <a href="/home/add-order/add-dish-to-order/add-{{dish.id}}">
                        <button type="button" class="btn_order">Добавить</button>
                    </a>
                    {% endfor %}
                </div>
            </dix>
            <div class="box-btn">
                <div class="card">
                    <a onclick="javascript:history.back(); return false;">
                        <button type="button" class="btn-card">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>