<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Форма регистрации</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <div class="box2">
                <label>
                    <input type="text" name="login" placeholder="Логин" required>
                </label>
                <label>
                    <input type="password" name="password" placeholder="Пароль" required>
                </label>
                <button type="submit" class="btn">Вход</button>
                <a href="/help">
                    <button type="button" class="btn">Помощь</button>
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
