<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Страница заказа</title>
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <div class="box1">
                <div class="card">
                    <h1>Номер заказа: {{id}}</h1>
                </div>
                <div class="card">
                    <h1>Общая стоимость: {{cost}} рублей</h1>
                </div>
                <div class="card">
                    <h1>Статус: {{state}}</h1>
                </div>
                {% for dish in dishes %}
                <div class="card">
                    <h1>{{dish.title}}</h1>
                    <h1>Цена: {{dish.price}}</h1>
                </div>
                {% endfor %}
            </div>
            <div class="box-btn">
                <div class="card">
                    {% if state == "active" %}
                    <a href="/home/order-{{id}}/delete">
                        <button type="button" class="btn-card">Отменить заказ</button>
                    </a>
                    {% endif %}
                    <a onclick="javascript:history.back(); return false;">
                        <button type="button" class="btn-card">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>