<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Пополнить баланс</title>
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <div class="box2">
                <label>
                    <input type="number" name="summa" placeholder="Счёт">
                </label>
            </div>
            <div class="box-btn">
                <div class="card">
                    <button type="submit" class="btn-card">Пополнить</button>
                    <a onclick="javascript:history.back(); return false;">
                        <button type="button" class="btn-card">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
</body>
</html>