<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Помощь</title>
    <link type="image/x-icon" href="/static/img/kpfu.png" rel="shortcut icon">
    <script>function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}

    </script>
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <div class="box2">
                <div class="card">
                    <h1>Если вы не зарегистрированы, обратитесь в администрацию</h1>
                </div>
                <div class="card">
                    <h1>Если у вас есть вопросы, обратитесь по адресу</h1>
                    <h1><p><a href="mailto:help_lobach_ctolovaya@mail.ru">
                        help_lobach_ctolovaya@mail.ru </a>
                    </p>
                    </h1>
                </div>
            </div>
            <div class="box-btn">
                <div class="card">
                    <a onclick="javascript:history.back(); return false;">
                        <button type="button" class="btn-card">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
</body>
</html>