<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link type="image/x-icon" href="/static/img/kpfu.png" rel="shortcut icon">
    <title>Ошибка</title>
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <div class="box1">
                <div class="card">
                    <h2>Page In Progress</h2>
                    <h1>Error: {{e}}</h1>
                </div>
            </div>
            <div class="box-btn">
                <div class="card">
                    <a onclick="javascript:history.back(); return false;">
                        <button type="button" class="btn-card">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>