<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link type="image/x-icon" href="/static/img/kpfu.png" rel="shortcut icon">
    <title>История заказов</title>
    <meta http-equiv="Refresh" content="10"/>
</head>
<body>
<div class="box">
    <form method="post">
        <div class="container">
            <div class="box1">
                <div class="card">
                    <h1>История заказов:</h1>
                </div>
                {% for order in orders %}
                <div class="card">
                    <h1>Заказ №{{order.id}} от {{order.date}}</h1>
                    <a href="/home/order-{{order.id}}">
                        <button class="btn_order" type="button">Открыть</button>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="box-btn">
                <div class="card">
                    <a href="/home/profile">
                        <button type="button" class="btn-card">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
